body{
    margin:0;
    padding:0;

}
.clearfix::after{
    content:"" ;
    display:block;
    clear: both;
    
}

/* big-wapper  */

.big-wapper{
    width:100%;
    height:600px;
    background-image:url("../img/dd.jpg");
    border-top:10px solid #5385c1;
    font-family: 'Thasadith', sans-serif;

}
.header{
  max-width:1000px;
    margin: 0 auto;
    position: relative;
    top:45px;
}
.header p{
    float:left;
    color:#fff;
    font-weight:bold;
    font-size:20px;
    font-weight: 100;

}
.header ul{
    float:right;
}
.header li{
    float:left;
    margin-right:40px;
    list-style-type:none;
    color:#fff;
}

/*  banner */

.banner{
    width:60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:120px;
    color:#fff;
}
.banner h1{
    font-weight: 100;
}

/* three-section */

.three-section{
    width:60%;
    margin:0 auto;
    padding:100px 0px;
    font-family: 'Thasadith', sans-serif;
}


.three-section .main{
    width:28%;
    float:left;
    margin-right:40px;
    
    
}
.main h2{
    font-size:20px;
    color:#5385c1;
    font-weight:100;
    line-height:35px;
 

}
.main p{
    color:gray;
     margin-top:30px;
    line-height:25px;

}
.main button{
    width:30%;
    height:40px;
    color:#fff;
    background-color:#5385c1;
    border:none;
    font-size:15px;

}
.add-border{
    border-style:solid;
    border-width:0px 1px 0px 0px;
    border-color:#5385c1;
    margin-left:0px;


}

/*  team */

.team{
    width:100%;
    background-color:#5385c1;
    color:#fff;
    font-family: 'Thasadith', sans-serif;

}
.fixed-width{
    width:60%;
    margin: 0 auto;
    padding:70px 0px;

}
.fixed-width h1{
    font-weight:300px;
    text-align: center;
    font-weight: 100;
}

.fixed-width  p{
    font-weight:100;
    text-align:center;
}
.person{
    width:20%;
    text-align:center;
    float:left;
    border:1px solid #fff;
    margin-right:38px;
    margin-top:65px;
    padding:25px 0px;



}
.person img{

    border-radius:100%;
    width:80%;
}

/*  two-section  */

.two-section{
    width:60%;
    margin:0 auto;
    text-align:center;
    padding:50px 0px;
    font-family: 'Thasadith', sans-serif;

} 

.two-section h1{
    line-height:20px;
    font-size: 50px;
    color:#5385c1;
    font-weight:100;

}
.two-section p{
    color:gray;

 }

 .two-section .left{
     width:45%;
     float:left;
     text-align:left;
     margin-top: 40px;
 }

 .two-section img{
     width:100%;
 }

 .two-section .right{
     width:45%;
     float:right;
     text-align:left;
     margin-top: 40px;
 }

 .two-section  h2{
     color:#5385c1;
     font-weight:100;
     font-size:30px;
     line-height:20px;
     padding:30px 0px; 
 }
 .two-section p{
     font-size:15px;
     line-height: 25px;
 }


 .two-section button{
     width:20%;
     height:40px;
     background-color:#5385c1;
     color:#fff;
     font-size:15px;
     border:none;
 }

 /* last */
 .main{
     width:100%;
     margin-top: 30px;

 }
 .main  .left-side{
     float:left;
 }
 .main .right-side{
     float:right;
     margin-right:100px;


 }
 .right-side span{
     margin-right:20px;
     color:#5385c1;
     font-size:25px;
       
 }

 hr{
     width:60%;
     margin: 0 auto;
 }





@media only screen and ( max-width:1000px){
   .three-section   .main{
          width:100%;
          clear:both;
   }
        
       .add-border{
           border-top:1px solid gray;
           border-bottom:1px solid gray;
           border-right:0px;
       }
       
       .person{
           width:40%;
       }
       
       
       @media only screen and ( max-width:1000px){
           .person{
               width:90%;
           }
       
           .two-section .left, .two-section .right{
               width:100%;
           }
           .two-section button{
               width:30%;
           }
           .two-section h1{
               line-height:50px;
               font-size: 50px;
           }
            .two-section .right h2{
               line-height:25px;
               font-size:20px;
           }
           .two-section .left h2{
               line-height:25px;
               font-size:20px;
           }

       }
        .main   .left-side p{
            
           margin-left:90px;
           margin-top:20px ;
       } 
       .right-side span{
           margin-top:10px;

       }


        
    
}